:root {
	--primary-text: #271e4a;
	--secondary-text: rgba(0, 0, 0, 60%);
	--blue-text: #3f779b;
	--white-text: #ffeded;
	--grey-text: #b6b6b6;

	--red-button: #ff706f;
	--green-button: #79cfa6;

	--chart-grey: #d8d2fc;
	--chart-purple: #e3a3e0;
	--chart-blue: #cbd6f3;
	--chart-green: #a1d7f9;
	--chart-red: #fe7e7d;

	--dark-blue: #271e4a;
	--grey: #7b7b7b;
	--white: #ffffff;

	--box-shadow-color: rgba(165, 153, 234, 0.64);
	--side-bar-width: 250px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Kanit;
}

body {
	background: linear-gradient(
		118.7deg,
		#d8d2fc,
		#d8d2fc,
		#d8d2fc 0.01%,
		#fde2e0 28.35%,
		#e6e4ea 58.79%,
		#e0e9f4 99.99%,
		rgba(230, 225, 232, 0),
		#e0e9f4
	);
}

.main-area-background {
	position: absolute;
	filter: alpha(opacity=60);
	/* IE */
	-moz-opacity: 0.6;
	/* Mozilla */
	opacity: 0.6;
	/* CSS3 */
}

.main-area {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		118.7deg,
		#d8d2fc,
		#d8d2fc,
		#d8d2fc 0.01%,
		#fde2e0 28.35%,
		#e6e4ea 58.79%,
		#e0e9f4 99.99%,
		rgba(230, 225, 232, 0),
		#e0e9f4
	);
}

.sidebar {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: var(--side-bar-width);
	height: 100vh;
	background-color: var(--white);
	/* opacity: 0.9; */
}

.mid-content-section {
	display: flex;
	flex-direction: column;
	width: calc(100% - var(--side-bar-width));
	height: 100vh;
	background: radial-gradient(
		50% 50% at 50% 50%,
		#eff2f6,
		#f6e3eb 47.58%,
		#d5deed 93.12%
	);
	padding: 20px 80px 0 80px;
}

.mid-content-section > div {
	margin: 15px;
}

.top-bar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.hospital-logo {
	width: 185px;
	height: 69px;
}

.top-right-corner-box {
	display: flex;
	flex-flow: row nowrap;
}

.current-page-heading {
	padding-left: 2px;
	font-size: 42px;
}

.summary {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.main-content-section {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
